body {
    overflow: hidden;
    background-image: url("../assets/images/wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h5 {
    text-align: center;
}

#enter-button {
    width: 100px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

#navbar {
    width: 55vw;

    & li {
        padding-left: 10px;
        padding-right: 10px;
    }
}